<h1> <%= current_user.name %>'s Favorites </h1>

<% @favorites.each do |music, restaurant, id| %>
<div class="row">




  <div class= "col-md-6 music">
    <%= link_to music.name , music.external_urls["spotify"]%> <br>
    <iframe src="https://embed.spotify.com/?uri=<%= "#{music.uri}" %>"
      width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class= "col-md-3 food">
    <%= link_to restaurant.business.name, "https://www.yelp.com/biz/#{restaurant.business.id}"  %><br>
    <%= restaurant.business.location.address.first %><br>
    <%= restaurant.business.location.city %><br>
    Phone: <%= restaurant.business.display_phone %><br>
  </div>

  <div class="col-md-3 food">
    <%= image_tag restaurant.business.image_url%>
 </div>

<br>
</div>
<hr>
<% end %>
