<% if current_user %>

  <h1>Search term:</h1>
  <%= form_tag '/suggestions/#{id}' do %>
    <%= label_tag :term %>
    <%= text_field_tag :term %>
    <%= label_tag :limit %>
    <%= text_field_tag :limit %>

    <%= submit_tag "GO GO GO!"%>
  <% end %>
<% end %>


<div class="container">
  <h2>Top 20 Pairings </h2>
  <% if @pairings %>

  <%= render partial: 'display' %>

  <% end %>
</div>
